#jinja2: trim_blocks:False
# {{ ansible_managed }}
{% if navidrome_ipaddress is defined and navidrome_ipaddress is number %}Address = "{{ navidrome_ipaddress }}"{% endif %}
{% if navidrome_port is defined and navidrome_port is number %}Port = "{{ navidrome_port }}"{% endif %}
{% if navidrome_baseurl is defined and navidrome_baseurl|length %}BaseUrl = "{{ navidrome_baseurl }}"{% endif %}
{% if navidrome_loglevel is defined and navidrome_loglevel|length %}LogLevel = "{{ navidrome_loglevel }}"{% endif %}
{% if navidrome_altconfigfile is defined and navidrome_altconfigfile|length %}ConfigFile = "{{ navidrome_altconfigfile }}"{% endif %}
{% if navidrome_datafolder is defined and navidrome_datafolder|length %}DataFolder = "{{ navidrome_datafolder }}"{% endif %}
{% if navidrome_musicfolder is defined and navidrome_musicfolder|length %}MusicFolder = "{{ navidrome_musicfolder }}"{% endif %}
{% if navidrome_scanschedule is defined and navidrome_scanschedule|length %}ScanSchedule = "{{ navidrome_scaninterval }}"{% endif %}
{% if navidrome_authlimit is defined and navidrome_authlimit is number %}AuthRequestLimit = "{{ navidrome_authlimit }}"{% endif %}
{% if navidrome_authratelimit is defined and navidrome_authratelimit|length %}AuthWindowLength = "{{ navidrome_authratelimit }}"{% endif %}
{% if navidrome_gaid is defined and navidrome_gaid|length %}GATrackingID = "{{ navidrome_gaid }}"{% endif %}
{% if navidrome_ignoredarticles is defined and navidrome_ignoredarticles|length %}IgnoredArticles = "{{ navidrome_ignoredarticles }}"{% endif %}
{% if navidrome_sessiontimeout is defined and navidrome_sessiontimeout|length %}SessionTimeout = "{{ navidrome_sessiontimeout }}"{% endif %}
{% if navidrome_transcodingcachesize is defined and navidrome_transcodingcachesize|length %}TranscodingCacheSize = "{{ navidrome_transcodingcachesize }}"{% endif %}
{% if navidrome_uiloginbackgroundurl is defined and navidrome_uiloginbackgroundurl|length %}UiLoginBackgroundUrl = "{{ navidrome_uiloginbackgroundurl }}"{% endif %}
{% if navidrome_uiwelcomemessage is defined and navidrome_uiwelcomemessage|length %}UIWelcomeMessage = "{{ navidrome_uiwelcomemessage }}"{% endif %}
{% if navidrome_coverartpriority is defined and navidrome_coverartpriority|length %}CoverArtPriority = "{{ navidrome_coverartpriority }}"{% endif %}
{% if navidrome_imagecachesize is defined and navidrome_imagecachesize|length %}ImageCacheSize = "{{ navidrome_imagecachesize }}"{% endif %}
{% if navidrome_jpegquality is defined and navidrome_jpegquality is number %}CoverJpegQuality = {{ navidrome_jpegquality }}{% endif %}
{% if navidrome_enabletranscodingconfig is defined and navidrome_enabletranscodingconfig|length %}EnableTranscodingConfig = "{{ navidrome_enabletranscodingconfig }}"{% endif %}
{% if navidrome_scanner_extractor is defined and navidrome_scanner_extractor|length %}Scanner.Extractor = "{{ navidrome_scanner_extractor }}"{% endif %}
{% if navidrome_dev_logsourceline is defined and navidrome_dev_logsourceline|length %}DevLogSourceLine = "{{ navidrome_dev_logsourceline }}"{% endif %}
{% if navidrome_dev_autocreateadminpassword is defined and navidrome_dev_autocreateadminpassword|length %}DevAutoCreateAdminPassword = {{ navidrome_dev_autocreateadminpassword }}{% endif %}
{% if navidrome_dev_oldscanner is defined and navidrome_dev_oldscanner|length %}DevOldScanner = "{{ navidrome_dev_oldscanner }}"{% endif %}
{% if navidrome_lastfm_apikey is defined and navidrome_lastfm_apikey|length %}LastFM.ApiKey = "{{ navidrome_lastfm_apikey }}"{% endif %}
{% if navidrome_lastfm_secret is defined and navidrome_lastfm_secret|length %}LastFM.Secret = "{{ navidrome_lastfm_secret }}"{% endif %}
{% if navidrome_lastfm_language is defined and navidrome_lastfm_language|length %}LastFM.Language = "{{ navidrome_lastfm_language }}"{% endif %}
{% if navidrome_spotify_id is defined and navidrome_spotify_id|length %}Spotify.ID = "{{ navidrome_spotify_id }}"{% endif %}
{% if navidrome_spotify_secret is defined and navidrome_spotify_secret|length %}Spotify.Secret = "{{ navidrome_spotify_secret }}"{% endif %}
{% if navidrome_enable_logredacting is defined and navidrome_enable_logredacting|length %}EnableLogRedacting = {{ navidrome_enable_logredacting }}{% endif %}
{% if navidrome_enable_gravatar is defined and navidrome_enable_gravatar|length %}EnableGravatar = {{ navidrome_enable_gravatar }}{% endif %}
{% if navidrome_enable_favourites is defined and navidrome_enable_favourites|length %}EnableFavourites = {{ navidrome_enable_favourites }}{% endif %}
{% if navidrome_enable_starrating is defined and navidrome_enable_starrating|length %}EnableStarRating = {{ navidrome_enable_starrating }}{% endif %}
{% if navidrome_enable_userediting is defined and navidrome_enable_userediting|length %}EnableUserEditing = {{ navidrome_enable_userediting }}{% endif %}
{% if navidrome_passwordencryptionkey is defined and navidrome_passwordencryptionkey|length %}PasswordEncryptionKey = {{ navidrome_passwordencryptionkey }}{% endif %}
{% if navidrome_proxy_userheader is defined and navidrome_proxy_userheader|length %}ReverseProxyUserHeader = {{ navidrome_proxy_userheader }}{% endif %}
{% if navidrome_proxy_whitelist is defined and navidrome_proxy_whitelist|length %}ReverseProxyWhitelist = {{ navidrome_proxy_whitelist }}{% endif %}
